$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size: 16px !default; 
$base-line-height: 24px !default; 
$base-font-color: #000 !default;

$base-background-color: #fff !default;